.stickyBuy{
    position: sticky;
    position: -webkit-sticky;
    bottom: 0;
    margin-right: 10em;
  }
  div.stickyBuy {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  
  }


:root {
    --bs-blue: #747DEF;
    --bs-indigo: #6237FF;
    --bs-purple: #A1B0FC;
    --bs-pink: #D42DA3;
    --bs-red: #DF6951;
    --bs-orange: #DF6951;
    --bs-yellow: #F1A501;
    --bs-green: #79B93C;
    --bs-teal: #006380;
    --bs-cyan: #2fc4f1;
    --bs-white: #FFFEFE;
    --bs-gray: #F0F4F9;
    --bs-gray-dark: #616161;
    --bs-primary: #0155f1;
    --bs-secondary: #5E6282;
    --bs-success: #79B93C;
    --bs-info: #006380;
    --bs-warning: #F1A501;
    --bs-danger: #DF6951;
    --bs-light: #F0F4F9;
    --bs-dark: #212832;
    --bs-font-sans-serif: "Poppins", "Rubik", "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --bs-font-monospace: "SFMono-Regular", Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 254, 254, 0.15), rgba(255, 254, 254, 0));
  }
  
  
  
  /* -------------------------------------------------------------------------- */
  /*                                 Transition                                 */
  /* -------------------------------------------------------------------------- */
  
  body{
    background-color: rgba(236, 236, 236, 0.8);
  }
  
  .blink_me {
    animation: blinker 1s linear infinite;
    color: red!important;
  }
  
  .blink_me_blue {
    animation: blinker 1s linear infinite;
    color: blue!important;
  }
  
  .blink_me_green {
    animation: blinker 1s linear infinite;
    color: green!important;
  }
  
  @keyframes blinker {
    50% {
      opacity: 0.4;
    }
  }
  
  #viewtrend{
    background-color: rgba(215, 244, 247, 0.75)!important;
    padding: 1rem;
    border-radius: 10px;
  }
  
  .col-xs-0,
  .col-sm-0,
  .col-md-0,
  .col-lg-0 {
    flex: 0 0 0;
    max-width: 0;
    padding-right: 0;
    padding-left: 0;
  }
  
  
  
  .tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
  }
  
  /* Tooltip text */
  .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
  
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }
  
  .shake-btn:hover{
    animation: shake 1s cubic-bezier(.36,.07,.19,.97) infinite;
    transform: translate3d(0, 0, 0);
    perspective: 1000px;
  }
  
  @keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 1px);
    }
    20%, 80% {
      transform: translate3d(1px, 0, 1px);
    }
    30%, 50%, 70% {
      transform: translate3d(-1px, 0, 1px);
    }
    40%, 60% {
      transform: translate3d(1px, 0, 1px);
    }
  }
  .span-description {
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
  